<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
  </head>
</html>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Exante @ Pear{%if title%}{{title}}{%endif%}</title>
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <main class="section" style="background-color: #f5f5f5; height: 100vh;"> <!-- Adjusted for Bulma, using 'section' for spacing and custom style for background color -->
    {% block body %}

    {% endblock %}
    </main>
  </body>
  {% block end_scripts %}{% endblock %}
</html>
