{% extends 'auth/auth_base.html' %}
{% import 'wtf.html' as wtf %} 

{% block body %}
<section class="section">
    <div class="container">
        <img src="{{url_for('static', filename='img/icon.svg')}}" width="50" height="40"  alt="" class="src">
      <h1 class="title">Cashew Billing</h1>
      <p class="subtitle">
        Automate your contract-to-cash cycle
      </p>
      {{ wtf.quick_form(form) }}

    </div>
  </section>
  <!-- Scripts -->
  <!-- <script src="/js/main.js"></script> -->

  
{% endblock %}
