{% extends 'base.html' %}
{% import 'wtf.html' as wtf %} 

{% block body %}
<input type="hidden" id="tkn" value="{{ token }}" />
<section class="section">
    <div class="container">
      <h1 class="title">Welcome {{current_user.firstname|capitalize}}!</h1>
      <p class="subtitle">
        Automate your contract-to-cash cycle. 
      </p>

    </div>
  </section>
    <div class="container"> <!-- Bulma container -->
      <div class="columns is-multiline"> <!-- Using columns and is-multiline to manage vertical spacing -->
        <!-- File upload -->
        <div class="column is-12"> <!-- Full-width column -->
          {% include 'main/dropzone.html'   %}
        </div>
        <br>
        <hr>
        <br>
        <!-- Table -->
        <div class="column is-12"> <!-- Full-width column -->
          {% include 'main/table_schedule.html'   %}
        </div>
      </div>
    </div>
  <!-- Scripts -->
  <!-- <script src="/js/main.js"></script> -->

  
{% endblock %}
