
<nav class="navbar" role="navigation" aria-label="main navigation" style="margin:0%; background-color: #f5f5f5">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('main.home') }}">
        <img width="" height="160" src="{{ url_for('static', filename='img/icon.svg') }}" alt="">
    
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('main.home') }}">
          Home
        </a>
  
        <a class="navbar-item" href="{{ url_for('main.home')}}">
          Billing Calendar
        </a>

      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

            <a class="button is-light is-small" href="{{ url_for('auth.logout') }}">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>